/* ベーススタイル */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 見出しとテキスト */
h1, h3 {
  text-align: center;
  color: #333;
}

h3#player-status {
  margin-top: 20px;
  font-weight: bold;
}

/* 動画プレイヤー */
.video-section {
  margin-bottom: 20px;
  text-align: center;
}

#video-player {
  width: 100%;
  height: auto;
  background: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ボタン */
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.button:hover {
  background-color: #45a049;
}

#stopStream:not(:disabled) {
  background-color: #f44336;
}

#stopStream:not(:disabled):hover {
  background-color: #da190b;
}

/* 無効なボタンのスタイル */
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* 状態表示 */
#player-status {
  color: #f44336; /* 赤色 */
  text-align: center;
  font-weight: bold;
}

/* チャットセクション */
.view-chat-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.view-section {
  flex: 2;
  margin-right: 20px;
}

.chat-section {
  flex: 1;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* チャットコンテナ */
#chat-container {
  display: flex;
  flex-direction: column;
}

#chat-messages {
  flex-grow: 1;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 5px;
  background: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
}

#chat-input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
