body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h3, h2 {
  text-align: center;
  color: #333;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.button:hover {
  background-color: #45a049;
}

section {
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"], select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

video {
  width: 100%;
  height: auto;
  background: #000;
}

canvas#preview {
  width: 100%;
  height: 300px;
  background: #000;
}

/* 無効なボタンのスタイル */
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* 配信停止ボタンが有効な場合のスタイル */
#stop:not(:disabled) {
  background-color: #f44336;
}

#stop:not(:disabled):hover {
  background-color: #da190b;
}

/* 視聴の状態 */
#player-status {
  text-align: center;
  color: #f44336; /* 赤色 */
  font-weight: bold;
  margin-top: 10px;
}

/* 配信者一覧のスタイル */
#channel-list {
  list-style: none;
  padding: 0;
}

#channel-list li {
  margin: 5px 0;
}

#channel-list li a {
  text-decoration: none;
  color: #4CAF50;
  font-weight: bold;
}

#channel-list li a:hover {
  text-decoration: underline;
}
